# Pipfile content

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.2.1" # ADD THIS LINE - make sure this matches your Django version
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
djangorestframework = "*" 
corsheaders = "*"       

[dev-packages]

[requires]
python_version = "3.12" 